.container {
    display: flex;
    flex-wrap: wrap;
}

.col {
    margin-bottom: 1rem;
}

.card {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
}

.card {
    min-height: 200px;
    height: 100%;
    overflow: hidden;
}

.background-image {
    height: 100%;
    background-size: cover;
}

.row{
    max-width: 100%;
}

.card h3 {
    font-size: 16px;
}


