.slider {
    width: 50px;
}

form[role="search"] {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

img {
    max-width: 3%;
    padding-right: 10px;
    height: auto;
}

.form-check-label {
    color: #A0A0A0;
}


.form-check-input {
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}

.dropdown-header {
    color: #202020;
}

.navbar {
    background-color: #C0C0C0;
}

.bd-placeholder-img {
    max-width: 100%;
    height: auto;
}

.card-img-top {
    display: block;
    margin: 0 auto;
}

.bd-placeholder-img {
    border: 1px solid #ccc;
}

.col {
    padding: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}

.price-slider-container {
    float: left;
    width: 200px;
    padding: 10px;
}

#price-slider {
    width: 15%;
}

